absl-py==0.2.2
alabaster==0.7.11
allennlp==0.5.1
aniso8601==4.1.0
annoy==1.12.0
appdirs==1.4.3
asn1crypto==0.24.0
astor==0.7.1
asttokens==2.0.4
atomicwrites==1.1.5
attrs==18.1.0
awscli==1.15.63
babel>=2.9.1
backcall==0.1.0
bayesian-optimization==1.0.0
beautifulsoup4==4.8.0
bleach>=3.3.0
blinker==1.4
boto==2.48.0
boto3==1.7.59
botocore==1.10.62
bs4==0.0.1
bz2file==0.98
category-encoders==1.3.0
certifi==2018.4.16
cffi==1.11.2
chardet==3.0.4
click==6.7
colorama==0.3.9
conllu==0.10.6
cookies==2.2.1
cryptography>=3.2
cycler==0.10.0
cymem==1.31.2
cytoolz==0.9.0.1
deap==1.2.2
debtcollector==1.20.0
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.8.2
docstring-parser==0.7.3
docutils==0.14
editdistance==0.4
elasticsearch==7.0.4
entrypoints==0.2.3
fasteners==0.14.1
flaky==3.4.0
flask>=1.0.0
Flask-Cors>=3.0.9
flask-restplus==0.12.1
future==0.17.1
gast==0.2.0
gensim==3.4.0
gevent==1.2.2
gitdb==4.0.5
GitPython==3.1.13
greenlet==0.4.14
grpcio==1.13.0
h5py==2.8.0
hpsklearn==0.1.0
hyperopt==0.1.1
icc-rt==2019.0
idna==2.7
imageio==2.5.0
imagesize==1.0.0
intel-numpy==1.14.3
intel-openmp==2019.0
ipython>=7.16.3
ipython-genutils==0.2.0
iso8601==0.1.12
isodate==0.6.0
itsdangerous==0.24
jedi==0.15.1
Jinja2>=2.11.3
jmespath==0.9.3
joblib==0.13.0
jsonpath-ng==1.4.3
jsonpickle==1.0
jsonschema==2.6.0
jupyter-core==4.4.0
Keras==2.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.0.1
liac-arff==2.3.1
lightgbm==2.2.2
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
minepy==1.2.2
mistune==0.8.4
mkl==2019.0
mkl-fft==1.0.6
mkl-random==1.0.1
mlxtend==0.14.0
mock==2.0.0
monotonic==1.5
more-itertools==4.2.0
msgpack==0.5.6
msgpack-numpy==0.4.3.1
murmurhash==0.28.0
nbconvert==5.4.0
nbformat==4.4.0
netaddr==0.7.19
netifaces==0.10.9
networkx==2.2
nltk>=3.4.5
nose==1.3.7
numpy>=1.21
numpydoc==0.8.0
oauthlib==2.1.0
olefile==0.45.1
opencv-python>=4.2.0.32
openml==0.7.0
oslo.concurrency==3.29.0
oslo.config==6.7.0
oslo.i18n==3.23.0
oslo.utils==3.39.1
overrides==1.9
packaging==17.1
pandas==0.23.3
pandocfilters==1.4.2
parso==0.5.1
patsy==0.5.1
pbr==5.1.1
pexpect==4.7.0
pickleshare==0.7.5
pillow>=8.3.2
plac==0.9.6
pluggy==0.6.0
ply==3.11
preshed==1.0.1
prompt-toolkit==2.0.9
protobuf==3.6.0
psycopg2==2.7.5
ptyprocess==0.6.0
py>=1.10.0
py-d3==0.3.0
py4j==0.10.7
pyasn1==0.4.3
pycparser==2.18
pydotplus==2.0.2
Pygments>=2.7.4
pyhocon==0.3.35
PyJWT==1.6.4
pymongo==3.7.2
Pyomo==5.6
pyOpenSSL==18.0.0
pyparsing==2.2.0
PySocks==1.6.8
pyspark==2.4.0
pytest==3.6.3
python-crfsuite==0.9.5
python-dateutil==2.7.3
pytz==2018.5
PyUtilib==5.6.4
PyWavelets==1.0.3
PyYAML>=5.4
rbfopt==4.0.3
rdflib==4.2.2
regex==2017.4.5
requests>=2.20.0
requests-oauthlib==1.0.0
responses==0.9.0
rfc3986==1.2.0
rsa>=4.7
s3transfer==0.1.13
scikit-image==0.15.0
scikit-learn==0.20.2
scipy==1.1.0
seaborn==0.9.0
six==1.11.0
smart-open==1.6.0
smmap==3.0.5
snowballstemmer==1.2.1
soupsieve==1.9.4
spacy==2.0.12
SPARQLWrapper==1.8.5
Sphinx==1.7.6
sphinxcontrib-websupport==1.1.0
statsmodels==0.10.1
stevedore==1.30.0
stopit==1.1.2
tensorboard==1.9.0
tensorboardX==1.2
tensorflow>=2.5.1
tensorflow-hub==0.1.0
termcolor==1.1.0
testpath==0.4.2
thinc==6.10.3
toolz==0.9.0
torch==0.4.0
torchvision==0.2.1
tornado==5.1
TPOT==0.9.5
tqdm==4.23.4
traitlets==4.3.2
twython==3.7.0
typing==3.6.4
ujson==1.35
Unidecode==1.0.22
update-checker==0.16
urllib3>=1.26.5
validators==0.14.0
wcwidth==0.1.7
webencodings==0.5.1
werkzeug>=0.15.3
wrapt==1.10.11
xgboost==0.90
xmltodict==0.11.0
